<app-header></app-header>
<ion-content>
  <ion-item-divider>
    <img class="avator" src="./../../../../assets/images/home_categories/estimate.svg" alt="" />
    <ion-title>Record payment</ion-title>
    <ion-button fill="clear" color="theme" (click)="dismissModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>

  </ion-item-divider>

  <!-- if contacts list does not show data -->
  <!-- <app-rating-input *ngIf="!contacts"></app-rating-input> -->


  <div class="testbox">

    {{estimatesDetail | json }}
    <form [formGroup]="reimburshForm" (ngSubmit)="createEstimate()" class="form-validate form-horizontal" novalidate="">
      <!-- START panel-->
      <div class="panel-body">

        <fieldset>
          <!-- <div class="form-group">
                        <label class="col-sm-2 control-label" style="color: #e54643;">Customer Name:</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" formControlName="Customer Name"
                                placeholder="Enter Customer name" />
                        </div>
                    </div> -->

          <div class="form-group">
            <label class="col-sm-2 control-label" style="color: #e54643;">Customer Name:</label>
            <div class="col-sm-6">
              <ion-skeleton-text *ngIf="!contacts" animated style="width: 100%; height: 25px;">
              </ion-skeleton-text>

              <select *ngIf="contacts" class="form-control" formControlName="Customer Name">
                <option *ngFor="let i of contacts" value="{{i['Customer Name']}}">{{i['Customer Name']}}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
        <!-- Invoice number -->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label" style="color: #e54643;">Estimate Number:</label>
            <div class="col-sm-6">
              <input class="form-control" type="text" formControlName="Estimate Number" placeholder="Estimate Number" />
            </div>
          </div>
        </fieldset>
        <!-- Order number -->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Order Number(Project ID):</label>
            <div class="col-sm-6">
              <input class="form-control" type="text" formControlName="Project ID" placeholder="Order Number" />
            </div>
          </div>
        </fieldset>
        <!-- Invoice Date -->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label" style="color: #e54643;">Estimate Date:</label>
            <div class="col-sm-6">
              <ion-datetime class="datetime-text" mode="ios" value="" formControlName="Estimate Date">
              </ion-datetime>
              <!-- <input type="date" formControlName="Estimate Date" value="2018-07-22" /> -->
            </div>

          </div>
        </fieldset>
        <!-- Termis -->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Terms:</label>
            <div class="col-sm-6">
              <input type="text" formControlName="Terms">
              <!-- <select class="form-control" formControlName="Terms">
                                <option value="Net 30">Net 30</option>
                                <option value="Net 45">Net 45</option>
                                <option value="Net 60">Net 60</option>
                            </select> -->
            </div>
          </div>
        </fieldset>
        <!-- Due Date -->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Due Date/ Expiry Date:</label>
            <div class="col-sm-6">
              <!-- <input class="form-control" type="date" formControlName="Expiry Date"
                                placeholder="Due Date" /> -->

              <ion-datetime class="datetime-text" mode="ios" value="" formControlName="Expiry Date">
              </ion-datetime>
            </div>
          </div>
        </fieldset>
        <!-- Sales Person -->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Salesperson:</label>
            <div class="col-sm-6">
              <input type="text" formControlName="Sales person">
              <!-- <select class="form-control" formControlName="Sales person">
                                <option value="Aaron">Aaron</option>
                                <option value="Baron">Baron</option>
                                <option value="Candy">Candy</option>
                                <option value="Derek">Derek</option>
                            </select> -->
            </div>
          </div>
        </fieldset>
        <!--Item List -->

        <fieldset>
          <!-- <ion-button class="badge" color="theme" *ngFor="let iList of customeditemsList"
                        (click)="onPush(iList)">
                        {{iList['Item Name']}} {{iList['Rate']}}
                    </ion-button> -->

          <ion-chip color="secondary" *ngIf="customeditemsList?.length === 0" (click)="onCreateInventoryItemPage()">No
            Items Yet Go and
            Add One Now!
          </ion-chip>

          <ion-chip class="badge" color="theme" *ngFor="let iList of customeditemsList" (click)="onPush(iList)">
            {{iList['Item Name']}} {{iList['Rate']}}
          </ion-chip>
        </fieldset>

        <!-- <ion-button color="theme" fill="clear" (click)="inputEnabled = !inputEnabled">
                    <ion-icon slot="start" name="add-circle"></ion-icon>
                    Add another line
                </ion-button> -->

        <!-- Sales List -->
        <fieldset>
          <div class="form-group">
            <table formArrayName="salesList">
              <tr>
                <th>Item Name</th>
                <th>Item Detail</th>
                <th>Quantity</th>
                <th>Rate</th>
                <!-- <th>Tax</th> -->
                <th>Amount</th>
                <th></th>
              </tr>

              <!--Input controls/ NOT TO EDIT ITEM IN THIS PAGE -->
              <tr *ngFor="let saleList of salesListArray.controls;let i = index" [formGroupName]="i">

                <td *ngIf="i > 0">
                  <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="Item Name" formControlName="Item Name" />
                  </div>
                </td>

                <td *ngIf="i > 0">
                  <div class="col-sm-6">
                    <ion-textarea class="form-control" row="6" height="1" placeholder="Item Detail"
                      formControlName="Description"></ion-textarea>
                    <!-- <input class="form-control" type="text" placeholder="Item Detail"
                                            formControlName="Description" /> -->
                  </div>
                </td>

                <td *ngIf="i > 0">
                  <div class="col-sm-6">
                    <input class="form-control" type="number" placeholder="0" (input)="onQtyChange($event, saleList)"
                      formControlName="quantity" />
                  </div>
                </td>

                <td *ngIf="i > 0">
                  <div class="col-sm-6">
                    <input class="form-control" type="number" placeholder="0.00"
                      (input)="onPriceChange($event, saleList)" formControlName="Rate" />
                  </div>
                </td>

                <td *ngIf="i > 0">
                  <div class="col-sm-6">
                    <input class="form-control" type="number"
                      placeholder="{{returnProduct(saleList.value.Rate, saleList.value.quantity)}}"
                      formControlName="amount" />
                  </div>
                </td>

                <!-- <td>
                                    <div class="col-sm-6">
                                        <span style="color: black; font-weight: bold;">
                                            {{returnProduct(saleList.value.Rate, saleList.value.quantity)}}</span>
                                    </div>
                                </td> -->

                <td *ngIf="i > 0">
                  <!-- <ion-button color="theme" fill="" (click)="addSalesListItem()">
                                        <ion-icon name="copy-outline"></ion-icon>
                                    </ion-button> -->
                  <ion-button color="secondary" fill="clear" (click)="removeSalesListItem(i)">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </td>
              </tr>

            </table>
          </div>

          <div style="padding-top: 20px;float: right;">
            <ion-chip>Total: {{totalPrice || 0}}</ion-chip>
          </div>
        </fieldset>

        <!-- Notes -->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Customer Notes:</label>
            <div class="col-sm-6">
              <ion-textarea rows="2" class="form-control" formControlName="Notes"
                placeholder="Will be displayed on the estimate"></ion-textarea>

              <!-- <input class="form-control" type="text" formControlName="Notes"
                                placeholder="Will be displayed on the estimate" /> -->
            </div>
          </div>
        </fieldset>
        <!-- Terms and conditions -->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Terms & Conditions:</label>
            <div class="col-sm-6">
              <ion-textarea rows="6" class="form-control" formControlName="Terms & Conditions"
                placeholder="Enter the terms and conditions of your business that will displayed in your transaction">
              </ion-textarea>
              <!-- <input class="form-control" type="text"
                                formControlName="Terms & Conditions"
                                placeholder="Enter the terms and conditions of your business that will displayed in your transaction" /> -->
            </div>
          </div>
        </fieldset>
      </div>
      <!-- <ion-button (click)="returnSum()">Calculate sum</ion-button> -->
      <ion-button type="submit" color="theme">Save</ion-button>
      <!-- <br />
            <ion-button color="dark" (click)="submitForm(reimburshForm.value)">Save and Send</ion-button> -->
    </form>
  </div>
</ion-content>
<!-- <form [formGroup]="createEstimateForm" (ngSubmit)="createEstimate()">
   <h4>Customer Name<span>*</span></h4>
   <select formControlName="Customer Name">
      <option value="Type" selected>Select or Type to add</option>
      <option value="Banma">Banma</option>
      <option value="Kokui">Kokui</option>
      <option value="Aaron">Aaron</option>
      <option value="Claire">Claire</option>
      <option value="Elaine">Elaine</option>
      <option value="Fred">Fred</option>
   </select>
   <h4>Estimate# <span>*</span></h4>
   <div class="title-block">
      <input type="text" name="estimate" formControlName="Estimate Number" />
   </div>
   <h4>Reference#</h4>
   <div class="title-block">
      <input type="text" name="reference" formControlName="Reference ID" />
   </div>
   <h4>Estimate Date<span>*</span></h4>
   <div class="title-block">
      <input type="date" name="estimate_date" formControlName="Estimate Date" />
   </div>
   <h4>Expiry Date<span>*</span></h4>
   <div class="title-block">
      <input type="date" name="expiry_date" formControlName="Expiry Date" />
   </div>
   <h4>Salesperson<span>*</span></h4>
   <div class="title-block">
      <select formControlName="Sales person">
         <option value="Type" selected>Select or Type to add</option>
         <option value="Phyllis">Phyllis</option>
         <option value="Staffen">Staffen</option>
         <option value="Phoebe">Phoebe</option>
         <option value="Richard">Richard</option>
         <option value="Dan">Dan</option>
         <option value="Jack">Jack</option>
         <option value="Koi">Koi</option>
      </select>
   </div>
   <h4>Subject / Project Name</h4>
   <div class="title-block">
      <textarea rows="1" placeholder="Let your customer know what this Estimate is for" formControlName="Project Name"></textarea>
   </div>
   
   <h4>Notes</h4>
   <div class="title-block">
      <textarea rows="1" placeholder="Will be displayed on the estimate" formControlName="Notes"></textarea>
   </div>
   <h4>Terms & Conditions</h4>
   <div class="title-block">
      <textarea rows="4" placeholder="Will be displayed on the estimate" formControlName="Terms & Conditions"></textarea>
   </div>
   <div class="btn-block">
      <button type="submit">Save</button>
   </div>
   </form> -->