<!-- <ion-header>
  <ion-toolbar>
    <ion-title>about-us-submenu2</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>
<ion-content>
  <ion-slides>
    <ion-slide>
      <!-- 500*130 *  -->
      <img style="width: 100%;" src="../../../assets/images/about-us/submenu2/whychooseus.png" alt="">
      <!-- <h1>Slide 1</h1> -->
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <ion-card style="text-align: left; box-shadow: none;">
          <ion-card-header style="font-size: x-large; font-weight: bold;">為什麼學校職員選擇我們?</ion-card-header>
          <ion-card-content>
            <h1>
              費用全免：
            </h1>
            <br>
            學校教職員只要於本平台登記成為會員，即可使用配對功能，並且能一覽各供應商的資料，費用全免。
            <br>
            <br>
            <h1>
              準確配對：
            </h1>
            <br>
            我們的系統會跟據學校教職員所提供的資料作出配對，找出相關性最高的供應商。
            <br>
            <br>
            <h1>
              評分制度：
            </h1>
            <br>
            每完成一次報價程序，我們都會讓學校教職員對是報價的供應商作出評分。學校教職員可跟據供應商的評分、回覆率及回覆速度進行排名，亦務求學校教職員能以最有效的方法索取合適報價單。
            <br>
            <br>
            <h1>
              完善管理：
            </h1>
            <br>
            除了本身供應商的服務質素外，我們還會記錄供應商的回覆率及回覆速度 ，每一個數據都會提供給學校教職員參考。
            <br>
            <br>
            <h1>
              快速報價：
            </h1>
            <br>
            <!-- 我們會利用AI（人工智能）初步計算學校查詢的課程價錢， -->
            <!-- 作為一個口頭報價，令學校可以快速知道不同供應商的大約服務價錢。 -->
            只要按Get A Quote, 能把報價要求於同一時間一次過傳送給大量相關的供應商，
            便可以直接為老師節省繁瑣的行政工作。

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card style="text-align: center;">
          <!-- src\assets\sample-images\user\理念背景_1.jpg -->
          <img src="../../../assets/sample-images/user/理念背景_1.jpg" alt="">
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="7">
        <ion-card style="text-align: left; box-shadow: none;">
          <ion-card-header style="font-size: x-large; font-weight: bold;">為何供應商選擇我們？</ion-card-header>
          <ion-card-content>
            <h1>
              大量配對：
            </h1>
            <br>
            我們的平台能夠省卻學校教職員搜集報價單的時間，故此大量的學校教職員都會使用我們的平台，加入我們的供應商從而能夠提高曝光率，增加中標機會。
            <br>
            <br>
            <h1>
              實報實銷：
            </h1>
            <br>
            除了年費計劃，我們設有「按點擊收費計劃」，每一個有效報價才收費，省下供應商不必要的廣告費。
            <br>
            <br>
            <h1>
              宣傳全面：
            </h1>
            <br>
            我們的年費計劃除了能在本平台與校方配對，而且還會於不同平台刊登廣告，包括本平台、Facebook、Google、灣仔會展展覽（學與教博覽）及教育刊物。
            <br>
            <br>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card style="text-align: center;">
          <!-- src\assets\sample-images\user\理念背景_1.jpg -->
          <img src="../../../assets/sample-images/user/理念背景_1.jpg" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-global-banner></app-global-banner>

</ion-content>