<ion-card style="width: 100%">
  <ion-card-header>
    <div *ngIf="percentage | async as pct">
      <progress [value]="pct" max="100"></progress>
      {{ pct | number }}%
    </div>
  </ion-card-header>
  <ion-card-content>

    <!-- <ion-button (click)="presentToastWithOptions()">Send</ion-button> -->

    <div *ngIf="snapshot | async as snap">

      {{ snap.bytesTransferred }} of {{ snap.totalBytes }}

      <div *ngIf="downloadURL as url">
        <h2>結果</h2>
        <!-- <img [src]="url"><br> -->
        <a style="color: var(--ion-color-theme)" [href]="url" target="_blank" rel="noopener">下載
        </a>
      </div>

      <ion-row>
        <ion-col size="4">
          <ion-button color="theme" fill="outline" (click)="task.pause()" [disabled]="!isActive(snap)">暫停
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button color="theme" fill="outline" (click)="task.cancel()" [disabled]="!isActive(snap)">取消
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button color="theme" fill="outline" (click)="task.resume()" [disabled]="!(snap?.state === 'paused')">恢復
          </ion-button>
        </ion-col>
      </ion-row>

    </div>
  </ion-card-content>
</ion-card>