<!-- <ion-header>
  <ion-toolbar>
    <ion-title>about-us-submenu1</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>
<ion-content>

  <ion-slides pager="true">
    <ion-slide>
      <!-- 500*130 *  -->
      <!-- src\assets\images\about-us\submenu1\報價流程.jpg -->
      <img style="width: 100%;" src="../../../assets/images/about-us/submenu1/報價流程.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <ion-card style="text-align: left; box-shadow: none;">
          <ion-card-header style="font-size: larger; font-weight: bold;">報價程序</ion-card-header>
          <ion-card-content>
            我們的報價過程十分簡單，學校教職員利用我們的平台輸入欲找尋的課外活動資料，我們會自動配對合適的供應商的資料，教職員可按下「索取報價」向有興趣的供應商索取報價單，供應商會在短時間內以電郵方式回覆。 <br>
            <br>
            <!-- 教職員只需按一個按鈕鍵“Get a Quote", 便能獲得充足的合適報價。 供應商方面， 亦能因此而獲得商機。 -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card style="text-align: center;">
          <!-- src\assets\sample-images\user\理念背景_1.jpg -->
          <img src="../../../assets/sample-images/user/理念背景_1.jpg" alt="">
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row size="12">
      <div style="display:block; margin-left: auto; margin-right: auto; width: auto;">
        <!-- <img src="../../../assets/images/about-us/submenu1/step.png" alt=""> -->
        <img class="STEP_web" style="width: 100%;" src="../../../assets/images/about-us/submenu1/STEP_web.png" alt="">
        <img class="STEP_mobile" style="width: 100%;" src="../../../assets/images/about-us/submenu1/STEP_mobile.png">
      </div>
    </ion-row>
  </ion-grid>

  <app-global-banner></app-global-banner>

</ion-content>