<!-- <ion-header>
  <ion-toolbar>
    <ion-title>contact-us-submenu3</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>
<ion-content>
  <ion-slides>
    <ion-slide>
      <!-- 500*130 *  -->
      <img style="width: 100%;" src="../../../assets/images/join-us/submenu3/sales.png" alt="">
      <!-- <h1>Slide 1</h1> -->
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <ion-card style="text-align: left; box-shadow: none;">
          <ion-card-header style="font-size: larger; font-weight: bold;">銷售團隊</ion-card-header>
          <ion-card-content>
            公司設有分成計劃，讓員工共享成果，報酬制度與公司的盈利掛鈎，歡迎有意加入的人士致電查詢 。 <br>
            <br>
            <!-- 教職員只需按一個按鈕鍵“Get a Quote", 便能獲得充足的合適報價。 供應商方面， 亦能因此而獲得商機。 -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card style="text-align: center;">
          <!-- src\assets\sample-images\user\理念背景_1.jpg -->
          <img src="../../../assets/sample-images/user/理念背景_1.jpg" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-global-banner></app-global-banner>

</ion-content>