<!-- <ion-header>
  <ion-toolbar>
    <ion-title>contact-us-submenu1</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>
<ion-content>
  <ion-slides>
    <ion-slide>
      <!-- 500*130 *  -->
      <!-- C:\Users\hf\Desktop\ionic4-full-starter-app-pro-version-1.2.1\src\assets\images\join-us\submenu1\supplier.png -->
      <img style="width: 100%;" src="../../../assets/images/join-us/submenu1/supplier.png" alt="">
      <!-- <h1>Slide 1</h1> -->
    </ion-slide>

  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <ion-card style="text-align: left; box-shadow: none;">
          <ion-card-header style="font-size: larger; font-weight: bold;">供應商</ion-card-header>
          <ion-card-content>

            <br>
            <br>
            按點擊收費計劃(每次成功報價) -價格為港幣 $ 80 / $ （優惠價）
            # 5個hashtag， 3個產品欄， Backlink

            <br>
            <br>
            基本月費年費計劃：$680 （E-mail通知標書資料）
            # 9個免費點擊，9個以上以每額外一個$80 收費，6個hashtag， 10個產品欄， 於課程類別置頂，Facebook及Google廣告， Backlink

            <br>
            <br>
            高級年費年費計劃：$7800（E-mail通知標書資料，廣告置頂）

            # 120個免費點擊，120個以上以每額外一個$80 收費，7個hashtag， 10個產品欄， 於課程類別置頂，Banner廣告，Facebook及Google廣告，一次訪問，星級介紹，Backlink

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card style="text-align: center;">
          <!-- src\assets\sample-images\user\理念背景_1.jpg -->
          <img src="../../../assets/sample-images/user/理念背景_1.jpg" alt="">
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card style="text-align: left; box-shadow: none;">
          <!-- <ion-card-header style="font-size: larger; font-weight: bold;"> 免費試用：一個月</ion-card-header> -->
          <ion-card-content>
            <ion-button color="theme" fill="outline" [routerLink]="['/app/auth/signup']">
              立即註冊</ion-button>
            <!-- # the image for the plans is missing -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-global-banner></app-global-banner>


</ion-content>