<ion-header no-border>
  <ion-toolbar color="theme">
    <!-- <ion-buttons slot="start">
    </ion-buttons> -->
    <!-- <ion-title style="color: white; font-size: x-large; font-weight: bold; text-align: center;">購入課程
      <ion-progress-bar id="progress-bar" color="secondary" value="{{progress}}"></ion-progress-bar>
    </ion-title> -->
    <ion-title>
    </ion-title>
    <ion-button icon-only style="color: white; --box-shadow: none;" color="none" slot="end" class="ionbutton"
      outline="clear" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content class="legal-content">
  <h3>私隱政策</h3>
  本網站非常重視個人私隱。此聲明解釋本網站的政策及實務。本網站尊重 閣下的私隱並且承諾：


  實行電腦、實地及程序上的保護措施，以保障本網站所收集個人資料的保安及機密性
  將所收集的個人資料局限在提供更佳服務所需的最低範圍
  只准許經適當培訓、授權的僱員接觸個人資料
  不會向外界第三方披露 閣下的個人資料，但如屬經 閣下同意、本網站在法律上被規定或本網站之前已通知 閣下的披露則除外。
  收集資料
  為了向 閣下提供更佳服務，本網站可能在 閣下向本網站辦理登記手續、使用本網站的服務、出席本網站的活動或與本網站通訊時收集資料。

  如未能提供本網站所要求的特定資料，本網站可能無法提供 閣下所要求的服務。

  本網站只在有必要的整段期間內保留個人資料，但可無限期將其副本存入檔案庫。

  使用資料
  本網站可在香港境內及境外使用資料作各項用途，包括：
  處理申請
  本網站的運作，例如納入本網站的資料庫、分析、研究及審計
  分派e-SchoolLand(及本網站業務合夥人及對手方)刊物及研究資料
  推廣e-SchoolLand (及本網站業務合夥人及對手方)服務或產品
  遵守香港境內或境外法律
  法律程序，包括追討拖欠款項
  其他相關用途。


  彼露
  本網站將會對本網站所持有的個人資料保密，但可能會將資料提供予：
  與本網站業務運作或服務有關的工作人員、代理、顧問、核數師、承辦商、金融機構或服務提供者
  本網站的附屬公司、業務合夥人及對手方
  公眾人士，包括查詢香港公司的人士
  對本網站有保密責任的人士
  根據香港境內或境外適用法律，本網站須向其作出披露的人士
  本網站服務的實際或建議的受讓人或參與人
  本網站不能控制第三方如何使用資料。


  曲奇檔案
  曲奇檔案通常用以利便傳送及提供更有用的功能，屬儲存於
  閣下電腦的一組數據。本網站使用此等裝置以得知更多有關使用本網站及使用者喜好的資料，從而改善本網站的服務。本網站可與廣告商共享瀏覽人次資料摘要。本網站會記錄瀏覽人次、網站及時間，但不會識別
  閣下的身分。如 閣下藉著向本網站辦理登記手續而給予同意，本網站可將資料與 閣下連接，使 閣下可收到更能迎合 閣下喜好的資料。

  閣下可將 閣下的瀏覽器設定至拒絕接收曲奇檔案，或當收到曲奇檔時通知 閣下。

  曲奇檔案乃某些網站功能運作(例如在連線期間內維持連續性)所必需的。如拒絕接收曲奇檔案，此等功能可能無法妥善運作。

  保安
  以電子形式儲存的個人資料會受密碼保護。在本網站所保障的網站範圍內會使用加密技術。本網站的電腦系統會存置在限制區內。本網站只准獲授權的僱員接觸個人資料。此等僱員已接受有關本網站私隱政策的培訓。

  超文本連結 [在線使用者適用]
  連接其他網站的超文本連結乃為方便 閣下而設。 閣下將離開本網站並連接至不受本網站控制的另一網站。本網站的私隱政策並不適用於其他網站。

  更改
  本公司可更新本聲明

  閣下的同意及權利
  閣下使用本網站服務、提交申請或瀏覽本網站，即表示 閣下同意本網站按在本聲明中所概述，收集及使用 閣下的資料及進行其他活動。
  根據《個人資料(私隱)條例》，個別人士有權：
  檢查本網站是否持有 閣下的資料及查閱該等資料
  要求本網站更正不準確的資料
  查明本網站有關個人資料的政策及實務以及本網站所持有的個人資料的性質。
  請將查閱、更正資料或停止通訊的要求、問題或投訴致電郵：info@e-schoolland.com
  本網站可就處理查閱資料的要求收取合理的費用。

  <h3>
    使用條款

  </h3>

  下列表明的使用條款適用 於 閣下對本網站的使用，請小心閱讀。 閣下對本網站的使用即表明 閣下已完 全接受本使用條款及受其約束的協議以及本使用條款中提及的所有其他適用條 款。

  變更網站
  本網站可在任何時間行使完全酌情權，在不另通知的情況下決定在本網站增 加、修訂或從本網站刪除任何資訊或改變本網站的展示方式、內容或功能。

  修改條款
  本網站可以不時行使完全酌情權而決定修改條款及不需另行通知，亦無需對 閣下負上任何責任。 閣下如在修訂條款後繼續使用本網站，即表明同意受此等修訂的約束。
  如果具體的服務條款與本使用條款的規定有任何衝突，應以具體的服務條款為準。


  使用者行為
  作為使用本網站的條件，閣下不得：
  侵入、強行入侵、接通、使用或者企圖侵入本網站伺服器的任何其他部分，及/或未經本網站對 閣下發出許可的任何資料區；
  限制或制止任何其他使用者使用並享用本網站；
  發帖或傳輸任何種類的違法、欺詐、中傷、誹謗、淫褻、色情、褻瀆、恐嚇、污穢、討厭、令人反感或其他不良或過份的資訊，包括但不限於傳輸含有或慫恿可構成刑事罪、導致民事責任，或者以其他方式違反任何當地、國家、全國性或外國法律的行為的資料；
  發帖或者傳輸任何廣告、游說、連鎖信、層壓式推銷計劃、投資機會或計劃或其他未經要求而提供的商業通訊，或濫發電子郵件或泛滿屏幕；
  發帖或者傳輸含任何病毒、欺騙程序、蠕蟲或者其他有害成分的任何資訊或者軟件；
  發帖、發佈、傳輸、複製、派發或以任何方式利用從本網站取得的任何資訊作商業用途；或者
  上載、發帖、發佈、傳輸、複製、或以任何方式派發從本網站取得的受版權或其他所有權保護的資訊，或者未經著作權人或權利持有人事先的書面許可而就該等資訊作出衍生作品。
  閣下對本網站或其中提供的資訊無任何權利，及除使用條款許可者外， 閣下不得為任何目的，以任何方式使用本網站提供的資訊。

  制止接通
  如果本網站認為 閣下已違反使用條款中的任何一款或者本網站經運用完全酌情權而決定應當或者必要為之時，則本網站保留權利可以隨時立即制止或者拒絕 閣下接通本網站或任何部份，不另通知。

  在本網站採取適當安全措施對網站的接通加以控制時， 閣下須對 閣下的登錄詳情保密（如有的話），並確保僅 閣下或經 閣下授權之職員出於正當目的方能接通服務。


  第三方資訊
  資訊中可能含有由第三方提供者提供或由本網站從其他參考資料或來源獲取的資訊。本網站中涉及任何人士、產品或者服務的資訊，不得視為本網站推薦或認可者。

  若任何資訊並非最新的，本網站概不負責；本網站對該等資訊不另核實。因此本網站對該等資訊不承擔任何責任。 閣下使用及依賴該等資訊，風險自負。 尤其是，第三方在本網站上描述其商品的內容及其服務並不代表本網站的意見或認可。謹告誡
  閣下注意這些欄目中表達的陳述的可信性和準確性。

  本網站的連接
  本網站的連接可將 閣下連往其他網址而 閣下承認並同意，本網站及其各聯號公司對連接網址所提供的任何資訊的準確性或有效性，不負任何責任。 連接其他網址並不構成本網站對該等網址或者該等網址所提供的資訊、產品、廣告或其他材料的認可。

  補償
  閣下同意就
  閣下違反使用條款的任何一款及/或使用本網站有關或因此而產生的任何責任、損害賠償、申索、訴訟、費用及支出(包括但不限於法律費用)而為本網站提出抗辯，作出補償並使本網站各聯號公司不受傷害。如有必要，本網站可能參加任何申索或者訴訟的抗辯及參與任何和解商議。若無本網站事先書面同意，不得作出任何對本網站權利或者義務有不利影響的和解。本網站保留權利，在向
  閣下發出通知後，自費行使對任何申索或者訴訟的獨有抗辯及獨有控制。

  知識產權權利
  本網站存有的一切知識產權權利屬於本網站或者經合法特許用於本網站。在此保留適用法律項下的一切權利。除經本網站明示許可者外，鑒於本網站按適用法律具有版權，因此
  閣下不得以任何方式上載、發帖、發佈、複製、傳輸或者派發本網站的任何成分或者在其上設定衍生作品。 閣下同意本網站可自由及無需支付 閣下任何款項的情況下使用、披露、採用、更改任何及所有由 閣下就有關網站及/或
  閣下對服務的使用提供給本網站的概念、技術、建議、提議、意見及其他通訊及資料(回應)。 閣下謹此放棄及同意放棄任何及所有有關本網站使用、披露、採用及/或更改
  閣下任何或所有的回應而向本網站追索任何代價、費用、版權費、收費及/或其他付費的權利及追索。

  有限責任及保証
  所有資訊僅供 閣下作一般參考。本網站對該等資訊不負任何責任。 閣下接通及使用本網站，風險自負而本網站乃按照當時的情況及可接通性而提供。本網站僅供
  閣下個人使用及本網站不發表任何聲明或作出任何保證，無論是明示的或暗示的，包括但不限於，就任何具體的目的對適銷性或適用性作出任何保證。

  就本網站或者其他方面而言，本網站的全部責任及
  閣下的全部補償，僅為再度提供不完備的服務。在那些不許可對某種責任作出免除或者限制的司法管轄區，本網站的責任將規限於法律可容許的最大程度內。本網站對透過本網站所提供的任何材料、產品或者服務不作認可、保證或擔保。本網站對
  閣下與任何第三方之間所做的任何交易，並非為及不會成為其中的一方。

  本網站及其各聯號公司均不擔保或者承擔下列任何責任：
  本網站提供的資訊是否準確、充足、及時或可靠，或是否除一般參考外還可用於任何目的；
  本網站提供的資訊是否無缺陷、錯誤、遺漏、病毒或可改變、刪除、加於或損壞 閣下的軟件、資料或者設備的任何有害物；
  經互聯網發出的，包括涉及服務的訊息不會被截、中斷、無錯誤、不會延誤或丟失；
  接通時，本網站可用或者不中斷；
  使用本網站或服務將產生任何特殊成效；或
  本網站的缺點會被糾正。

  不限於前述一般性條款，在任何情況下，本網站或其各聯號公司對
  閣下或者任何其他人士因使用或不能使用該等資訊或服務所發生的任何直接的、間接的、附帶引起的、特別的、懲罰性的或者間接性的損失或損害賠償(包括任何業務或盈利的損失)，不承擔任何責任。即使本網站或其聯號公司已知悉可能會有該等損失或損害賠償，亦是如此。

  閣下在使用或者解釋該等資訊及使用該等服務時，應只運用並依賴自己的技能和判斷。 閣下有責任確保使用該等資訊與服務須遵守所有適用的法律規定。

  在不違反前述規定的前提下，如果 閣下對該等服務的使用未能圓滿進行及/或如果適用，閣下未收到本使用條款適用或其他條款所規定的本網站就該等使用作出的適當答覆，則建議
  閣下通過發送電子郵件至info@e-schoolland.com聯繫。該等未能作出的答覆不得被視為構成任何默許或權利之放棄。

  私穩政策
  有關本網站的私隱政策及做法，請參閱本公司的私隱政策聲明。 閣下同意本網站可按私隱政策聲明(將不時修訂)中所列出的方式使用及披露 閣下的資料。如果服務需收集個人資料， 閣下亦應參閱與表格相連的有關使用者協議， 閣下的個人資料經該表而收集。
  凡欲了解本網站如何使用曲奇檔案，亦請參閱本公司的私隱政策聲明。

  部分無效
  本使用條款的任何規定如在任何司法管轄區法律下成為不合法、無效或不能強制執行，此將不得影響其在任何其他司法管轄區法律下的合法性、有效性或者可強制執行性，亦不得影響本使用條款任何其他規定的合法性、有效性或者可強制執行性。

  多名使用者
  如有兩名或以上的人士依循本使用條款成為使用者，其在本使用條款項下的責任屬於共同及各別責任，其權利則屬於共同擁有的。

  其他事項
  任何對違反本使用條款的寬免均不得構成對任何其他違反的寬免。本使用條款中的標題僅為方便而設，並不影響其解釋。

  終止條款
  在毋須給予 閣下事先通知和理由的情況下，我們可以在任何時間運用我們獨享之酌處權，終止我們提供予 閣下之所有或部份服務，並隨之而禁止 閣下使用該服務的權利和消除儲存於 閣下帳戶內的訊息和資料。

  規限法律及司法管轄權
  本使用條款應受香港特別行政區法律的規限。 閣下同意接受香港法院的非專屬司法管轄權的管轄。

  超連結條款及細則
  接連到www.e-schoolland.com的超連結：

  e-SchoolLand歡迎各機構/公司建立網頁連結接連本網站的主頁，並只顯示e-SchoolLand之名稱及網址(www.e-schoolland.com)，並請將
  貴機構/公司之網址知會e-SchoolLand。如欲建立超連結到www.e-schoolland.com 「學校之源」的內頁， 貴機構/公司必須事先獲得學校之源之書面同意，本網站將按個別情況進行評估，並保留最終之決定權。

  若網站載有誹謗、誹謗性、色情、淫褻材料，或任何違反香港特別行政區法律或侵犯任何知識產權（包括但不限於版權）及精神權利的材料，本網站概不准許該等網站連結到www.e-schoolland.com
  e-SchoolLand。本網站可按其酌情權隨時要求任何網站刪除跟www.e-schoolland.com e-SchoolLand的任何連結。

  除非本網站同意，否則 貴機構/公司建立超連結到www.e-schoolland.com e-SchoolLand後，本公司並無義務在 www.e-schoolland.com e-SchoolLand建立超連結到 貴機構/公司的網站。
  www.e-schoolland.com e-SchoolLand內的超連結： www.e-schoolland.com e-SchoolLand 設有「供應商分類」及「其他資訊」，按分類載入並提供連線到第三方的網站或網頁。如果
  貴機構/公司欲將網站上載到「供應商分類」或「其他資訊」等分頁，請透過電郵提出申請。本網站將按個別情況進行評估，並保留最終之決定權。

  <!-- <h3 class="legal-title">Welcome to Ionic 4 Demo App</h3>
  <p class="legal-text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
    Lorem Ipsum.
  </p>
  <h3 class="legal-title">Using our services</h3>
  <p class="legal-text">
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web
    page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
    sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
    purpose (injected humour and the like).
  </p>
  <h3 class="legal-title">About this privacy policy</h3>
  <p class="legal-text">
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
    form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
    passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the
    Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
    generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
    structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
    repetition, injected humour, or non-characteristic words etc.
  </p> -->
</ion-content>