<ion-item>
  <div style="background: var(--ion-color-dark); width: 100%; text-align: center; margin-bottom: 20px;">
    <ion-img style="display: block; width: 300px; margin-left: auto; margin-right: auto;" src="assets/icon/invoice.svg">
    </ion-img>
    <ion-badge color="theme">Invoicing on the go!</ion-badge>
  </div>
</ion-item>




<ion-item>
  <ion-icon slot="start" src="./../../../assets/images/global-footer/phone.svg"></ion-icon>
  <ion-label>
    Call us anytime between Monday - Friday (852 - 5702 6605)
  </ion-label>
</ion-item>

<ion-item>
  <div style="font-weight: lighter; font-size: small; color: white;">
    © 2020 by i-Maker IT limited. All Right Reserved.
  </div>
</ion-item>