ion-fab-button[data-desc] {
    position: relative;
    font-weight: bold;
    //    font-size: 2.0rem;
}

ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    cursor: pointer;
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-primary);
    padding: 9px;
    border-radius: 15px;
    color: var(--ion-color-theme);
    transition: ease-in-out 3s;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.getaquote {
    position: absolute;
//    content: attr(data-desc);
    cursor: pointer;
    z-index: 1;
    right: 55px;
    width: 100px;
    bottom: 4px;
    background-color: var(--ion-color-primary);
//   padding: 9px;
    border-radius: 15px;
    color: var(--ion-color-theme);
//    transition: ease-in-out 3s;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
