<ion-footer>


  <ion-fab vertical="center" horizontal="end" activated="true" slot="fixed">
    <ion-fab-button color="">
      <ion-icon name="arrow-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="onFilterForm()" color="theme" data-desc="Get A Quote">
        <!-- <ion-icon color="primary" slot="start" src="./../assets/images/getaquote.svg"></ion-icon> -->
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="primary" href="https://wa.me/85296769157" target=_blank>
        <!-- <a href="https://wa.me/85296769157" target=_blank></a> -->
        <ion-icon name="logo-whatsapp" style="color: #128c7e"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>


  <!-- <iframe allow="microphone;" width="350" height="430"
      src="https://console.dialogflow.com/api-client/demo/embedded/f61be2c2-14a8-48b1-b294-73610d4bdd98">
    </iframe> -->

  <!-- <ion-fab vertical="bottom" horizontal="end" activated="true" slot="fixed">
    <ion-fab-button>
      <ion-icon name="list-box"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="warning">
        <ion-icon name="quote"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-label>得到報價</ion-label>
        <ion-icon name="quote"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button>Vimeo</ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

  <!-- <ion-fab vertical="top" horizontal="end" activated="true" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="delete()" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="cancel()" color="warning">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="save()" color="success">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

</ion-footer>